<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="Data Source=bookifyserver.database.windows.net;Initial Catalog=Bookify;Integrated Security=False;User ID=rb;Password=KapteinKarsten1;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>