body
  padding-top 85px
  background-color #fff

.container
  max-width 800px

.book-thumbnail
  width 90px
  padding 5px
  display inline-block
  text-align center
  img
    width 100%
    height 120px

.book-thumbnail:hover
    background-color #dedede

.icon-ratings > div
  display inline-block
  width 20px
  height 20px
  line-height 30px
  margin-left 3px
  background-size 100% auto
  background-image url(/assets/Website-Rating-Icons.png)

.icon-rating-full
    background-position 0 100%

.icon-rating-empty
    background-position 0 0%
