body
  padding-top 85px
  background-color #fff
  padding-bottom 300px

.container
  max-width 800px

.book
  margin-bottom 25px

.book-text-wrap
  width 125px

.book-thumbnail
  width 90px
  padding 5px
  display inline-block
  text-align center
  vertical-align top
  img
    width 100%
    height 120px

.book-thumbnail:hover
    background-color #dedede

.icon-ratings > div
  display inline-block
  width 20px
  height 20px
  line-height 30px
  margin-left 3px
  background-size 100% auto
  background-image url(/assets/Website-Rating-Icons.png)

.icon-rating-full
    background-position 0 100%

.icon-rating-empty
    background-position 0 0%

.searchForm > div
  padding 5px 5px 0 5px
  background-color #eee
  margin-bottom 25px

.searchForm input
    background-color white
    height 42px
    padding 2px 10px

.bookFeedback
  padding-bottom 35px
.bookFeedback p
  margin-top 10px